@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

.bp3-tab-list {
    width: 250px;
    text-align: right;
}

.bp3-tab-indicator-wrapper {
    width: 250px
}

.about-page-tab {
    width: 100%;
}