@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

.nav-page-descr-group {
    margin-left: 10px;
}

.nav-tab-group {
    margin-left: 100px;
}

.nav-right-group {
    margin-right: 10px;
}

.nav-container {
    display: flex;
    height: 50px;
    background-color: rgb(207, 229, 242);
}

.nav-img {
    flex-basis: 275px;
    text-align: left;
    padding-left: 15px;
    margin: auto 0;
}

.nav-tabs {
    margin: auto 0;
}

.nav-search {
    margin: auto 0 auto auto;
    padding-right: 15px;
}