@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

.nav-page-descr-group {
    margin-left: 10px;
}

.nav-tab-group {
    margin-left: 100px;
}

.nav-right-group {
    margin-right: 10px;
}

.nav-container {
    display: flex;
    height: 50px;
    background-color: rgb(207, 229, 242);
}

.nav-title {
    flex-basis: 275px;
    text-align: right;
    padding-left: 15px;
    padding-right: 35px;
    margin: auto 0;
    font-size: 26px;
    font-weight: 600;
}

.nav-img {
    text-align: right;
    padding-right: 15px;
    margin: auto 0;
}

.nav-tabs {
    margin: auto 0;
}

.nav-search {
    margin: auto 0 auto auto;
    padding-right: 15px;
}

.bp3-tab-list > *:not(:last-child) {
    margin-right: 30px;
}